@model IEnumerable<DVDRentalStore.ViewModels.ClientHistoryViewModel>

@{
    ViewData["Title"] = "RentHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>
    Rental history of
    @Model.FirstOrDefault()?.Client.FirstName
    @Model.FirstOrDefault()?.Client.LastName
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRestriction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeRestriction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("To Dashboard", "ClientDashboard", "Client", new { id = Model.FirstOrDefault()?.Client.ClientId })
</div>
