@model IEnumerable<DVDRentalStore.Models.MoviesModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Movies In DVD Store</h1>

<p>
    <a asp-action="Create">Add new</a>
</p>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchString", ViewBag.currentSearchString as string)
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Title), "Index", new { sortOrder = "titleAscending" })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Year), "Index", new { sortOrder = "yearAscending" })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.AgeRestriction), "Index", new { sortOrder = "ageRestrictionAscending" })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.MovieId), "Index", new { sortOrder = "idAscending" })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Price), "Index", new { sortOrder = "priceAscending" })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeRestriction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }) |
                    @Html.ActionLink("Details", "Details", new { /*id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
                </td>
            </tr>
        }
    </tbody>
</table>
