@model IEnumerable<DVDRentalStore.Models.ClientsModel>

@{
    ViewData["Title"] = "Clients of DVD Rental Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clients of DVD Rental Store</h1>

<p>
    <a asp-controller="AddClient" asp-action="AddClient">Add new Client</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditClient", new { id = item.ClientId }) |
                    @Html.ActionLink("Delete", "DeleteClient", new { id = item.ClientId })
                </td>
            </tr>
        }
    </tbody>
</table>
