@model DVDRentalStore.Models.MoviesModel

@{
    ViewData["Title"] = "DeleteMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Are you sure you want to delete movie @Html.DisplayFor(item => Model.Title) ?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AgeRestriction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgeRestriction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <form asp-action="DeleteMovie">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Admin" asp-action="AdminDashboard">Cancel</a>
    </form>
</div>
