@model DVDRentalStore.Models.EmployeesModel
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Administrator dashboard</h2>
<p>Welcome, @Model.FirstName @Model.LastName</p>
<ul>
    <li>@Html.ActionLink("List of Clients", "ListOfClients", "Admin")</li>
    <li>@Html.ActionLink("List of Movies", "ListOfMovies", "Admin")</li>
    <li>@Html.ActionLink("Add New Movie", "AddMovie", "Admin")</li>
    <li>@Html.ActionLink("Add New Client", "AddClient", "Admin")</li>
</ul>