@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Welcome, @User.Identity.Name !</h1>
        <h3>Menu:</h3>
        <ul>
            <li>@Html.ActionLink("List of Clients", "ListOfClients", "Main")</li>
            <li>@Html.ActionLink("List of Movies", "ListOfMovies", "Main")</li>
            <li>@Html.ActionLink("Add Movie", "AddMovie", "Main")</li>
            <li>@Html.ActionLink("Add Client", "AddClient", "Main")</li>
            <li>Manage user roles</li>
        </ul>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
        <h3>Sign in to use rental store</h3>
    }
</div>
